.jumbotron{
    text-align: center;
    font-size: 34px;
    background-color: black;
    color: white;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
form{
    padding-left: 100px;
}